@{
    ViewData["Title"] = "Home Page";
    string mess = (string)ViewBag.mess;
    int currentPrice = (int)ViewBag.price;
}

<div class="text-center">
    <h2>Chuyển tiền</h2>
    <h3 style="color:red">Số dư : @currentPrice</h3>
    <form method="post" action="/Home/Transfer" asp-antiforgery="false">
        <label>Từ tài khoản</label>
        <input type="number" id="accountFrom" name="accountFrom" required><br><br>

        <label>Tới tài khoản</label>
        <input type="number" id="accountTo" name="accountTo" required><br><br>

        <label>Số tiền:</label>
        <input type="number" id="price" name="price" required><br><br>

        <input type="submit" value="Chuyển">
    </form>
    @if (!string.IsNullOrEmpty(mess))
    {
        <h4>@mess</h4>
    }
</div>


