@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h3>Trên đường đến trường bạn Quang có thấy một chiếc ví bị rơi.</h3>
    <h3>Bạn Quang đã dừng lại và nhặt chiếc ví lên xem thử.</h3>
    <img src="https://genk.mediacdn.vn/2019/6/27/photo-1-15616102073051714153416.jpg" />
    <h3>Sự thật đằng xem chiếc ví khiến ai cũng phải bất ngờ</h3>
    <a href="/Home/Logon?returnUrl=http://localhost:5289/Home/Login">Xem thêm</a>
</div>


